* {
    margin: 0px;
}

.panel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 830px;
    background-color: #F4E0D7;;
    z-index: 0;
}

.panel-property{
    position: absolute;
}

#home {
    height: 150px;
    color: #977e77;
}

#home img {
    width: 150px;
    left: 5%;
    top: 25px;
}

#line {
    top: 100px;
    left: 5%;
    width:90%;
    border: 1px solid #977e77;;
}

main h1 {
    margin-left: 5%;
    color: #977e77;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

header {
    right: 100px;
    margin-top: 40px;
    margin-left: 45%;
    position: absolute;
    z-index: 2;
}

header ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-family: 'Baskervvile', serif;
    font-size: 18px;
}

header a {
    border-style: none;
    text-decoration: none;
    color: #977e77;
}

header a:hover {
    background-color: #977e77;
    border-radius: 25px;
    color: white;
    padding: 15px;
}

main {
    background: #F4E0D7;;
}

#main h1 {
    left: 5%;
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.flavor_row {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    padding-bottom: 50px;
}

.flavor_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #977e77;;
}


.flavor_container p {
    width: 150px;
    text-align: center;
}

.flavor_img {
    width: 225px;
    height: 225px;
}

.flavor_panel {
    position: relative;
    overflow: hidden;
    width: 225px;
    height: 225px;
}

.flavor_symbol {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

.flavor_symbol_indesc{
    width: 50px;
    height: 50px;
}

#symbol_desc {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
}

.symbol_desc_container {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #977e77;
    font-size: 20px;
}


footer {
    width: 100%;
    background-color: #D0AEA5;;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 30px;
}

footer p {
    font-family: 'Baskervvile', serif;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: white;
}